name: Docs

# Trigger this Action when new code is pushed to the main branch
on:
  push:
    branches:
      - vnext

# We need some permissions to publish to Github Pages
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore tools
        run: dotnet tool restore
      - name: Build code
        run: dotnet build -c Release
      - name: Generate the documentation'
        run: dotnet fsdocs build --properties Configuration=Release
      - name: Upload documentation
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./output

  # GitHub Actions recommends deploying in a separate job.
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
