name: .NET Core

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build dotnet 9.0
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      - run: dotnet restore
      - run: dotnet build src/Migrondi -f net9.0 --configuration Release --no-restore
      - run: dotnet test src/Migrondi.Tests --no-restore
  buildnet8:
    runs-on: ubuntu-latest
    name: Build dotnet 8.0
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      - run: dotnet restore
      - run: dotnet build src/Migrondi.Core -f net8.0 --configuration Release --no-restore
      - run: dotnet test src/Migrondi.Tests -f net8.0 --no-restore
